/**
 * Turquoise4 color scheme
*/

body {}

::selection {
    background: #049CA2;
    color: #FFF;
}
::-moz-selection {
    background: #049CA2;
    color: #FFF;
}

/* Color style */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
a,
.header-top a:hover,
.site-branding h1.site-title a,
#colophon .widget_calendar table a:hover {
    color: #049CA2;
}

/* Background color style */
.read-more,
.read-more.black:hover,
.pager li > a:hover, .pager li > a:focus,
#home-slider .slide-content .btn,
table thead,
a#scroll-top,
.post-meta-info .entry-meta .comments_count,
body input[type="submit"]:hover,
body input[type="submit"]:focus,
.mean-container .mean-bar,
.mean-container .mean-bar .mean-nav ul li a.meanmenu-reveal,
.mean-container .mean-bar .mean-nav ul li a.mean-expand:hover {
    background-color: #049CA2;
}

/* Background style */
nav.main-menu ul > li:hover > a, nav.main-menu ul > .current-menu-item > a,
nav.main-menu ul .current_page_item > a,
nav.main-menu ul > li:hover > a,
nav.main-menu ul > .current-menu-item > a,
.mean-container a.meanmenu-reveal,
.comment a.btn,
.error-404,
.mean-container .mean-bar .meanmenu-reveal  {
    background: #049CA2;
}

/* Border Color style */
.wp-caption,
.header-top,
nav.main-menu ul > li ul,
.pager li > a:hover, .pager li > a:focus,
#colophon,
.entry-content blockquote,
.post-meta-info .entry-meta,
.comment a.btn,
body input[type="text"]:focus,
body input[type="email"]:focus,
body input[type="url"]:focus,
body input[type="tel"]:focus,
body input[type="number"]:focus,
body input[type="date"]:focus,
body input[type="range"]:focus,
body input[type="password"]:focus,
body input[type="text"]:focus,
body textarea:focus,
body .form-control:focus,
select:focus {
    border-color: #049CA2;
}
.gallery .gallery-item img {
    border-color: #049CA2!important;
}
table thead th {
  border-color: #8EC4C6;
}
table thead th:first-child {
  border-left: 1px solid #8EC4C6;
}
table thead th:last-child {
  border-right: 1px solid #8EC4C6;
}

/* Light color style */
.nav > li > a:hover, .nav > li > a:focus,
.post-meta-info .entry-meta,
.comment-form .alert-info  {
    background-color: #EEFEFF;
}
.entry-content blockquote {
    background: #EEFEFF;
}
.error-404 a {
    color: #EEFEFF;
}
.comment-form .alert-info {
    border-color: #8EC4C6;
    color: #3A5758;
}

#home-slider .owl-dots .owl-dot.active span,
#home-slider .owl-dots .owl-dot:hover span {
  background: #049CA2;
}

/* WooCommerce Style */
.woocommerce-message {
    border-top-color: #049CA2;
}
.woocommerce-message::before {
    color: #049CA2;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #049CA2;
}
.woocommerce div.product .stock {
    color: #049CA2;
}
.woocommerce span.onsale {
    background-color: #049CA2;
}
.woocommerce ul.products li.product .price {
    color: #049CA2;
}
 #add_payment_method .cart-collaterals .cart_totals .discount td,
.woocommerce-cart .cart-collaterals .cart_totals .discount td,
.woocommerce-checkout .cart-collaterals .cart_totals .discount td {
    color: #049CA2
}

.woocommerce div.product form.cart .button {
    padding: 10px 30px;
    line-height: 1.42857143;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    background-color: #049CA2;
    color: #FFF;
    font-weight: normal;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
    background-color: #038186;
    color: #FFF;
}

/* Responsive style */
@media (max-width: 991px) and (min-width: 0px){
    .post-meta-info .entry-meta .comments_count,
    .post-meta-info .entry-meta {
        background: none;
        border-color: transparent;
        background-color: transparent;
    }
    .post-meta-info .entry-meta .comments_count a  {
        background: none;
    }
}
